#ruby, #csharp, #php {
  display: none;
}

body {
    background-color: lightgray;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 18px;
}

.kidshowing {
  display: none;
}
